*.autogen_bak
*.bak
*.gmo
*.la
*.lo
*.o
*.pot
*.tar.gz

.deps
.project
.cproject

aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
mkinstalldirs
stamp-*

/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES

/tool/seahorse-marshal.[ch]
/tool/seahorse-pgp-*.desktop
/tool/seahorse-pgp-*.desktop.in
/tool/seahorse-tool
